# b/148033913
dontaudit fsck self:capability kill;

# b/151195350
dontaudit linkerconfig self:capability kill;

# b/152468658
dontaudit vdc self:capability kill;

dontaudit xiaomiparts_app default_android_hwservice:hwservice_manager find;
